<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <title>Book Library</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/transitions.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/responsive.css">
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>

	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout"></header>
			<div class="tg-topbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<ul class="tg-addnav">
								<li>
									<a href="javascript:void(0);">
										<i class="icon-envelope"></i>
										<em>Liên hệ</em>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<i class="icon-question-circle"></i>
										<em>Hổ trợ</em>
									</a>
								</li>
							</ul>
						
							<div class="tg-userlogin">
								<figure><a href="javascript:void(0);"><img src="images/tải xuống.png" alt="image description"></a></figure>
								<span>Hi, User</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-middlecontainer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<strong class="tg-logo"><a href="index-2.html"><img src="images/logo.png" alt="company name here"></a></strong>
							<div class="tg-wishlistandcart">
								<div class="dropdown tg-themedropdown tg-wishlistdropdown">
									<a href="javascript:void(0);" id="tg-wishlisst" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="tg-themebadge">3</span>
										<i class="icon-heart"></i>
										<span>Yêu thích</span>
									</a>
									<div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-wishlisst">
										<div class="tg-description"><p>Không có sản phẩm nào được thêm vào danh sách yêu thích!</p></div>
									</div>
								</div>
								<div class="dropdown tg-themedropdown tg-minicartdropdown">
									<a href="javascript:void(0);" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="tg-themebadge">3</span>
										<i class="icon-cart"></i>
										<span>Giỏ hàng</span>
									</a>
									<div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
										<div class="tg-minicartbody">
											<div class="tg-minicarproduct">
												<figure>
													<img src="images/products/img-01.jpg" alt="image description">
													
												</figure>
												<div class="tg-minicarproductdata">
													<h5><a href="javascript:void(0);">Our State Fair Is A Great Function</a></h5>
													<h6><a href="javascript:void(0);">$ 12.15</a></h6>
												</div>
											</div>
											<div class="tg-minicarproduct">
												<figure>
													<img src="images/products/img-02.jpg" alt="image description">
													
												</figure>
												<div class="tg-minicarproductdata">
													<h5><a href="javascript:void(0);">Bring Me To Light</a></h5>
													<h6><a href="javascript:void(0);">$ 12.15</a></h6>
												</div>
											</div>
											<div class="tg-minicarproduct">
												<figure>
													<img src="images/products/img-03.jpg" alt="image description">
													
												</figure>
												<div class="tg-minicarproductdata">
													<h5><a href="javascript:void(0);">Have Faith In Your Soul</a></h5>
													<h6><a href="javascript:void(0);">$ 12.15</a></h6>
												</div>
											</div>
										</div>
										<div class="tg-minicartfoot">
											<a class="tg-btnemptycart" href="javascript:void(0);">
												<i class="fa fa-trash-o"></i>
												<span>Clear Your Cart</span>
											</a>
											<span class="tg-subtotal">Subtotal: <strong>35.78</strong></span>
											<div class="tg-btns">
												<a class="tg-btn tg-active" href="javascript:void(0);">View Cart</a>
												<a class="tg-btn" href="javascript:void(0);">Checkout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tg-searchbox">
								<form class="tg-formtheme tg-formsearch">
									<fieldset>
										<input type="text" name="search" class="typeahead form-control" placeholder="Tìm kiếm theo tiêu đề, tác giả, từ khóa,...">
										<button type="submit"><i class="icon-magnifier"></i></button>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-navigationarea">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="tg-navigation" class="collapse navbar-collapse tg-navigation" >
									<ul>
									
										<li><a href="index.html">Trang chủ</a></li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Tác giả</a>
											<ul class="sub-menu">
												<li><a href="authors.html">Tác giả</a></li>
												<li><a href="authordetail.html">Chi tiết về tác giả</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Sản phẩm</a>
											<ul class="sub-menu">
												<li><a href="products.html">Sản phẩm</a></li>
												<li><a href="productdetail.html">Sản phẩm chi tiết</a></li>
											</ul>
										</li>
										<li><a href="products.html">Bán chạy nhất</a></li>
										<li><a href="products.html">Bán hàng tuần</a></li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Thông tin mới nhất</a>
											<ul class="sub-menu">
												<li><a href="newslist.html">Danh sách mới</a></li>
												<li><a href="newsgrid.html">Tổng hợp danh sách</a></li>
												<li><a href="newsdetail.html">Chi tiết mới</a></li>
											</ul>
										</li>
										<li><a href="contactus.html">Liên hệ</a></li>
										<li class="menu-item-has-children current-menu-item">
											<a href="javascript:void(0);"><i class="icon-menu"></i></a>
											<ul class="sub-menu">
												<li><a href="aboutus.html">About Us</a></li>
												<li><a href="404error.html">404 Error</a></li>
												<li><a href="comingsoon.html">Coming Soon</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Inner Banner Start
		*************************************-->
		<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-07.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-innerbannercontent">
							<h1>Authors</h1>
							<ol class="tg-breadcrumb">
								<li><a href="javascript:void(0);">Trang chủ</a></li>
								<li><a href="javascript:void(0);">Tác giả</a></li>
								<li class="tg-active">Chi tiết về tác giả</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					Author Detail Start
			*************************************-->
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-authordetail">
								<figure class="tg-authorimg">
									<img src="images/tacgia_1.jpg" alt="Hình ảnh tác giả">
								</figure>
								<div class="tg-authorcontentdetail">
									<div class="tg-sectionhead">
										<h2><span>15,686 Tác phẩm đã xuất bản</span>Nguyễn Nhật Ánh</h2>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
									<div class="tg-description">
										<p>Nguyễn Nhật Ánh là một trong những nhà văn nổi tiếng nhất Việt Nam, được biết đến với những tác phẩm về tuổi thơ và tình yêu thanh xuân. Ông đã chạm đến trái tim của hàng triệu độc giả qua những câu chuyện giản dị nhưng đầy ý nghĩa.</p>
										<p>Phong cách viết của ông nhẹ nhàng, dễ tiếp cận và thường mang màu sắc tươi sáng, thể hiện niềm yêu thương với cuộc sống. Những tác phẩm như "Kính Vạn Hoa" và "Cho Tôi Xin Một Vé Đi Tuổi Thơ" đã trở thành biểu tượng cho văn học thiếu nhi Việt Nam.</p>
										<p>Nguyễn Nhật Ánh không chỉ là một tác giả mà còn là một người truyền cảm hứng, khơi gợi trong mỗi chúng ta những kỷ niệm đẹp đẽ về tuổi thơ và những mộng mơ của cuộc sống.</p>
									</div>
									<div class="tg-booksfromauthor">
										<div class="tg-sectionhead">
											<h2>Sách của Nguyễn Nhật Ánh</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
										<!-- Danh sách sách có thể thêm vào đây -->
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
												<div class="tg-postbook">
													<figure class="tg-featureimg">
														<div class="tg-bookimg">
															<div class="tg-frontcover"><img src="images/books/img-01.jpg" alt="Hình ảnh sách 1"></div>
															<div class="tg-backcover"><img src="images/books/img-01.jpg" alt="Hình ảnh sách 1"></div>
														</div>
														<a class="tg-btnaddtowishlist" href="javascript:void(0);">
															<i class="icon-heart"></i>
															<span>Thêm vào yêu thích</span>
														</a>
													</figure>
													<div class="tg-postbookcontent">
														<ul class="tg-bookscategories">
															<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
														</ul>
														<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
														<div class="tg-booktitle">
															<h3><a href="javascript:void(0);">Kính Vạn Hoa</a></h3>
														</div>
														<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
														<span class="tg-stars"><span></span></span>
														<span class="tg-bookprice">
															<ins>150.000 VNĐ</ins>
															<del>180.000 VNĐ</del>
														</span>
														<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
															<i class="fa fa-shopping-basket"></i>
															<em>Thêm vào giỏ hàng</em>
														</a>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
												<div class="tg-postbook">
													<figure class="tg-featureimg">
														<div class="tg-bookimg">
															<div class="tg-frontcover"><img src="images/books/img-02.jpg" alt="Hình ảnh sách 2"></div>
															<div class="tg-backcover"><img src="images/books/img-02.jpg" alt="Hình ảnh sách 2"></div>
														</div>
														<a class="tg-btnaddtowishlist" href="javascript:void(0);">
															<i class="icon-heart"></i>
															<span>Thêm vào yêu thích</span>
														</a>
													</figure>
													<div class="tg-postbookcontent">
														<ul class="tg-bookscategories">
															<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
														</ul>
														<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
														<div class="tg-booktitle">
															<h3><a href="javascript:void(0);">Cho Tôi Xin Một Vé Đi Tuổi Thơ</a></h3>
														</div>
														<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
														<span class="tg-stars"><span></span></span>
														<span class="tg-bookprice">
															<ins>120.000 VNĐ</ins>
															<del>150.000 VNĐ</del>
														</span>
														<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
															<i class="fa fa-shopping-basket"></i>
															<em>Thêm vào giỏ hàng</em>
														</a>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
												<div class="tg-postbook">
													<figure class="tg-featureimg">
														<div class="tg-bookimg">
															<div class="tg-frontcover"><img src="images/books/img-03.jpg" alt="Hình ảnh sách 3"></div>
															<div class="tg-backcover"><img src="images/books/img-03.jpg" alt="Hình ảnh sách 3"></div>
														</div>
														<a class="tg-btnaddtowishlist" href="javascript:void(0);">
															<i class="icon-heart"></i>
															<span>Thêm vào yêu thích</span>
														</a>
													</figure>
													<div class="tg-postbookcontent">
														<ul class="tg-bookscategories">
															<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
														</ul>
														<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
														<div class="tg-booktitle">
															<h3><a href="javascript:void(0);">Bầu Trời Màu Mơ</a></h3>
														</div>
														<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
														<span class="tg-stars"><span></span></span>
														<span class="tg-bookprice">
															<ins>100.000 VNĐ</ins>
														</span>
														<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
															<i class="fa fa-shopping-basket"></i>
															<em>Thêm vào giỏ hàng</em>
														</a>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
												<div class="tg-postbook">
													<figure class="tg-featureimg">
														<div class="tg-bookimg">
															<div class="tg-frontcover"><img src="images/books/img-04.jpg" alt="Hình ảnh sách 4"></div>
															<div class="tg-backcover"><img src="images/books/img-04.jpg" alt="Hình ảnh sách 4"></div>
														</div>
														<a class="tg-btnaddtowishlist" href="javascript:void(0);">
															<i class="icon-heart"></i>
															<span>Thêm vào danh sách yêu thích</span>
														</a>
													</figure>
													<div class="tg-postbookcontent">
														<ul class="tg-bookscategories">
															<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
														</ul>
														<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
														<div class="tg-booktitle">
															<h3><a href="javascript:void(0);">Cô Bé Bán Diêm</a></h3>
														</div>
														<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
														<span class="tg-stars"><span></span></span>
														<span class="tg-bookprice">
															<ins>90.000 VNĐ</ins>
														</span>
														<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
															<i class="fa fa-shopping-basket"></i>
															<em>Thêm vào giỏ hàng</em>
														</a>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
											<div class="tg-postbook">
												<figure class="tg-featureimg">
													<div class="tg-bookimg">
														<div class="tg-frontcover"><img src="images/books/img-05.jpg" alt="Hình ảnh sách 5"></div>
														<div class="tg-backcover"><img src="images/books/img-05.jpg" alt="Hình ảnh sách 5"></div>
													</div>
													<a class="tg-btnaddtowishlist" href="javascript:void(0);">
														<i class="icon-heart"></i>
														<span>Thêm vào yêu thích</span>
													</a>
												</figure>
												<div class="tg-postbookcontent">
													<ul class="tg-bookscategories">
														<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
													</ul>
													<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
													<div class="tg-booktitle">
														<h3><a href="javascript:void(0);">Tôi Là Bê Tô</a></h3>
													</div>
													<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
													<span class="tg-stars"><span></span></span>
													<span class="tg-bookprice">
														<ins>120.000 VNĐ</ins>
													</span>
													<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
														<i class="fa fa-shopping-basket"></i>
														<em>Thêm vào giỏ hàng</em>
													</a>
												</div>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
											<div class="tg-postbook">
												<figure class="tg-featureimg">
													<div class="tg-bookimg">
														<div class="tg-frontcover"><img src="images/books/img-06.jpg" alt="Hình ảnh sách 6"></div>
														<div class="tg-backcover"><img src="images/books/img-06.jpg" alt="Hình ảnh sách 6"></div>
													</div>
													<a class="tg-btnaddtowishlist" href="javascript:void(0);">
														<i class="icon-heart"></i>
														<span>Thêm vào yêu thích</span>
													</a>
												</figure>
												<div class="tg-postbookcontent">
													<ul class="tg-bookscategories">
														<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
													</ul>
													<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
													<div class="tg-booktitle">
														<h3><a href="javascript:void(0);">Đôi Bờ Ký Ức</a></h3>
													</div>
													<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
													<span class="tg-stars"><span></span></span>
													<span class="tg-bookprice">
														<ins>150.000 VN
															
															<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
																<i class="fa fa-shopping-basket"></i>
																<em>Thêm vào giỏ hàng</em>
															</a>
														</div>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
													<div class="tg-postbook">
														<figure class="tg-featureimg">
															<div class="tg-bookimg">
																<div class="tg-frontcover"><img src="images/books/img-07.jpg" alt="Hình ảnh sách 7"></div>
																<div class="tg-backcover"><img src="images/books/img-07.jpg" alt="Hình ảnh sách 7"></div>
															</div>
															<a class="tg-btnaddtowishlist" href="javascript:void(0);">
																<i class="icon-heart"></i>
																<span>Thêm vào yêu thích</span>
															</a>
														</figure>
														<div class="tg-postbookcontent">
															<ul class="tg-bookscategories">
																<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
															</ul>
															<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
															<div class="tg-booktitle">
																<h3><a href="javascript:void(0);">Chuyện Cổ Tích Việt Nam</a></h3>
															</div>
															<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
															<span class="tg-stars"><span></span></span>
															<span class="tg-bookprice">
																<ins>110.000 VNĐ</ins>
															</span>
															<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
																<i class="fa fa-shopping-basket"></i>
																<em>Thêm vào giỏ hàng</em>
															</a>
														</div>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
													<div class="tg-postbook">
														<figure class="tg-featureimg">
															<div class="tg-bookimg">
																<div class="tg-frontcover"><img src="images/books/img-08.jpg" alt="Hình ảnh sách 8"></div>
																<div class="tg-backcover"><img src="images/books/img-08.jpg" alt="Hình ảnh sách 8"></div>
															</div>
															<a class="tg-btnaddtowishlist" href="javascript:void(0);">
																<i class="icon-heart"></i>
																<span>Thêm vào yêu thích</span>
															</a>
														</figure>
														<div class="tg-postbookcontent">
															<ul class="tg-bookscategories">
																<li><a href="javascript:void(0);">Văn học thiếu nhi</a></li>
															</ul>
															<div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
															<div class="tg-booktitle">
																<h3><a href="javascript:void(0);">Nắng Ấm Vùng Đất</a></h3>
															</div>
															<span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">Nguyễn Ngọc Ánh</a></span>
															<span class="tg-stars"><span></span></span>
															<span class="tg-bookprice">
																<ins>130.000 VNĐ</ins>
															</span>
															<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
																<i class="fa fa-shopping-basket"></i>
																<em>Thêm vào giỏ hàng</em>
															</a>
														</div>
													</div>
												</div>
																	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Author Detail End
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-footerarea">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<ul class="tg-clientservices">
								<li class="tg-devlivery">
									<span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
									<div class="tg-titlesubtitle">
										<h3 style="font-size: 16px;">Giao Hàng Nhanh</h3>
										<p style="font-size: 14px;">Vận Chuyển Toàn Cầu</p>
									</div>
								</li>
								<li class="tg-discount">
									<span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
									<div class="tg-titlesubtitle">
										<h3 style="font-size: 16px;">Giảm Giá Mở</h3>
										<p style="font-size: 14px;">Cung Cấp Giảm Giá Mở</p>
									</div>
								</li>
								<li class="tg-quality">
									<span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
									<div class="tg-titlesubtitle">
										<h3 style="font-size: 16px;">Đảm bảo chất lượng</h3>
										<p style="font-size: 14px;">Công Bố Công Việc Chất Lượng</p>
									</div>
								</li>
								
								<li class="tg-support">
									<span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
									<div class="tg-titlesubtitle">
										<h3 style="font-size: 16px;">Hỗ Trợ 24/7</h3>
										<p style="font-size: 14px;">Phục Vụ Mọi Thời Điểm</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="tg-threecolumns">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="tg-footercol">
									<strong class="tg-logo"><a href="javascript:void(0);"><img src="images/flogo.png" alt="mô tả hình ảnh"></a></strong>
									<ul class="tg-contactinfo">
										<li>
											<i class="icon-apartment"></i>
											<address>FPT POLYTECHNIC, Phân mềm Quang Trung, Quận 12 </address>
										</li>
										<li>
											<i class="icon-phone-handset"></i>
											<span>
												<em>098772132</em>
												<em>097682321</em>
											</span>
										</li>
										<li>
											<i class="icon-clock"></i>
											<span>Phục Vụ 7 Ngày Một Tuần Từ 9am - 5pm</span>
										</li>
										<li>
											<i class="icon-envelope"></i>
											<span>
												<em><a href="mailto:.com">support@gmail.com</a></em>
												<em><a href="mailto:.com">info@gmail.com</a></em>
											</span>
										</li>
									</ul>
									<ul class="tg-socialicons">
										<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
										<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
										<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
										<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="tg-footercol tg-widget tg-widgetnavigation">
									<div class="tg-widgettitle">
										<h3>Thông Tin Vận Chuyển Và Hỗ Trợ</h3>
									</div>
									<div class="tg-widgetcontent">
										<ul>
											<li><a href="javascript:void(0);">Điều Khoản Sử Dụng</a></li>
											<li><a href="javascript:void(0);">Điều Khoản Bán Hàng</a></li>
											<li><a href="javascript:void(0);">Trả Hàng</a></li>
											<li><a href="javascript:void(0);">Bảo Mật</a></li>
											<li><a href="javascript:void(0);">Cookies</a></li>
											<li><a href="javascript:void(0);">Liên Hệ Chúng Tôi</a></li>
											<li><a href="javascript:void(0);">Cộng Tác Viên Của Chúng Tôi</a></li>
											<li><a href="javascript:void(0);">Tầm Nhìn &amp; Mục Tiêu</a></li>
										</ul>
										<ul>
											<li><a href="javascript:void(0);">Câu Chuyện Của Chúng Tôi</a></li>
											<li><a href="javascript:void(0);">Gặp Gỡ Đội Ngũ Của Chúng Tôi</a></li>
											<li><a href="javascript:void(0);">Câu Hỏi Thường Gặp</a></li>
											<li><a href="javascript:void(0);">Lời Chứng Thực</a></li>
											<li><a href="javascript:void(0);">Tham Gia Đội Ngũ Của Chúng Tôi</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class="tg-footercol tg-widget tg-widgettopsellingauthors">
									<div class="tg-widgettitle">
										<h3>Tác Giả Bán Chạy Nhất</h3>
									</div>
									<div class="tg-widgetcontent">
										<ul>
											<li>
												<figure><a href="javascript:void(0);"><img src="images/tacgia_1.jpg" width="50px;" height="50px;" ,="mô tả hình ảnh"></a></figure>
												<div class="tg-authornamebooks">
													<h4><a href="javascript:void(0);">Nguyễn Nhật Ánh</a></h4>
													<p>25,000 Cuốn Sách Đã Xuất Bản</p>
												</div>
											</li>
											<li>
												<figure><a href="javascript:void(0);"><img src="images/tacgia_2.jpg" width="50px;" height="50px;", alt="mô tả hình ảnh"></a></figure>
												<div class="tg-authornamebooks">
													<h4><a href="javascript:void(0);">Nguyễn Ngọc Tư</a></h4>
													<p>18,500 Cuốn Sách Đã Xuất Bản</p>
												</div>
											</li>
											<li>
												<figure><a href="javascript:void(0);"><img src="images/ToHoai.webp" width="50px;" height="50px;", alt="mô tả hình ảnh"></a></figure>
												<div class="tg-authornamebooks">
													<h4><a href="javascript:void(0);">Tô Hoài</a></h4>
													<p>15,800 Cuốn Sách Đã Xuất Bản</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="tg-newsletter">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Đăng Ký Nhận Bản Tin!</h4>
							<h5>Có thể được giảm giá, nhưng đó là điều đã xảy ra cùng lúc.</h5>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<form class="tg-formtheme tg-formnewsletter">
								<fieldset>
									<input type="email" name="email" class="form-control" placeholder="Nhập Địa Chỉ Email Của Bạn">
									<button type="button"><i class="icon-envelope"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>		
		<div class="tg-footerbar">
			<a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="tg-paymenttype"><img src="images/paymenticon.png" alt="image description"></span>
						<span class="tg-copyright">2024 All Rights Reserved By &copy; Book Library</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<script src="js/vendor/jquery-library.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.vide.min.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/gmap3.js"></script>
	<script src="js/main.js"></script>
</body>

</html>